{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<form method="POST"> 
{% csrf_token %}
<div id="penalizar" class="tabcontent">
    <div class="penalizarContent">
        <div class="penalizarBody">
        <div class="penalizar-title">
            <h1>PENALIZAR</h1>
        </div>
        <input name="user" id="id_user" value="{{user.id}}" type="hidden">
        <div class="penalizar-select">
            <select name="score" required id="id_score">
            {% for score in scores %}
                <option value="{{score.id}}">{{score.type_score}} - {{score.score_description}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="penalizar-pontos">
            <h3>{{user.username}} será penalizado com X pontos</h3>
        </div>
        <div class="penalizar-message">
            <input type="text" placeholder="Adicione comentários aqui..." id="id_score_comment"  name="score_comment">
        </div>
        <div class="penalizar-buttons">
            <div class="penalizar-cancel">
            <button onclick="location.href={% url 'url_participants' %}">CANCELAR</button>
            </div>
            <div class="penalizar-confirm">
            <button type="submit">CONFIRMAR</button>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
</form>
{% endif %}
{% endblock content %}