{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <div id="eventos" class="tabcontent">
        <div class="eventosContent">
          <div class="eventosBody">
            <div class="eventos-container">
              <div class="eventos-top">
                <h2>REGISTRO DE EVENTOS</h2>
              </div>
              <div class="eventos-bottom">
                <div class="eventos-tablecontent">
                  <table>
                    <thead>
                      <tr class="eventos-tablehead">
                        <th>Responsável</th>
                        <th>Ação</th>
                        <th>Participante</th>
                        <th>Data</th>
                        <th>Razão</th>
                      </tr>
                    </thead>
                    <tbody class="table-body-bottom">
                      {% for event in events %}
                        <tr>
                            <td>{{event.admin_username}}</td>
                            <td>{{event.score.equivalent_score}}</td>
                            <td>{{event.user.username}}</td>
                            <td>{{event.score_date}}</td>
                            <td>
                            <div class="table-icons">
                                <img src="{% static 'assets/razao.svg' %}" alt="">
                                <img src="{% static 'assets/aviso.svg' %}" alt="" width="18px">
                                <img src="{% static 'assets/desfazer.svg' %}" alt="">
                            </div>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
{% endblock content %}