@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

/* by jpandolpho 2019 */

:root {
  --font: 'Archivo', sans-serif;
  --primary-color: #5e2075;
  --font-size: 30;
}

html{
  background-color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type=text], input[type=password]{
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #cecece;
  color: #171519;
  font-family: var(--font);
  width: 100%;
  font-size: var(--font-size);
}

input:focus {
  outline: 0;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #cecece;
}

button{
  background-color: var(--primary-color);
  color: #fcfeff;
  border: none;
  border-radius: 5px;
  font-family: var(--font);
  width: 100%;
  font-size: var(--font-size);
  font-weight: bold;
  opacity: 0.9;
}

button:hover{
  opacity: 0.7;
  outline: 0;
}

.container{
  background-color: #fcfeff;
  border-radius: 5px;
  height: 370px;
  width: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 13px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formulario{
  display: flex;
  flex-direction: column;
}

.user{
  width: 100%;
  padding-bottom: 30px;
  padding-top: 75px;
  padding-right: 175px;
}

.user input{
  padding-left: 15px;
  opacity: 0.9;
}

.password{
  padding-bottom: 20px;
  padding-top: 20px;
}

.password input{
  padding-left: 15px;
  opacity: 0.9;
}

.submit{
  padding-top: 50px;
  padding-left: 35px;
  width: 80%;
}

.submit button{
  height: 40px;
}

.imgcontainer{
  width: 15%;
  height: 10vh;
  width: auto;
}

.imgcontainer img{
  width: 40%;
  padding-top: 15px;
  padding-left: 135px;
}