@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

/* by FaBiUsKcomp 2019 */

/* Variaveis */

:root {
    --font: 'Archivo', sans-serif;
    --primary-color: #5e2075;
    --secundary-color: #Fcfeff;
    --dark-color: #333;
    --border: #4C1D5E;
    --opacity: 0.5;
    --shadow: 0 4px 8px 13px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-right: 5px 0 5px -5px #333;
    --shadow-right-bottom: 5px 10px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --text-shadow: 5px 5px var(--dark-color);
    --gradient : linear-gradient(#5e2075, #171519);
    --button-hover: #ae8eba;
    --drop-hover: #333;
    --profile-name: black;
}

/* Sera encaixado o tema dark do site */

[data-theme="dark"] {
    --font: 'Archivo', sans-serif;
    --primary-color: #333;
    --secundary-color: grey;
    --dark-color: #333;
    --border: #4C1D5E;
    --opacity: 1;
    --shadow: 0 4px 8px 13px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-right: 5px 0 5px -5px #333;
    --shadow-right-bottom: 5px 10px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --text-shadow: 5px 5px var(--dark-color);
    --gradient : linear-gradient(#5e2075, #171519);
    --button-hover: rgb(20, 20, 20); 
    --drop-hover: whitesmoke;
    --profile-name: whitesmoke;
}

/* Reset de Elementos */

html, body {
    margin: 0;
    padding: 0;
}

/*  Inicio - Estilização da NavBar e corpo do documento *********************************/

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background: var(--primary-color);
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

.logo {
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img {
    width: 68%;
    margin: 0 20px;
}

nav .tittle {
    width: 61%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h2 {
    color: var(--secundary-color);
    font-family: var(--font);
    font-size: 30px;
    margin: 0;
    padding: 0;
}

nav .notification {
    width: 7%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification img {
    width: 27%;
    cursor: pointer;
}

nav .profile {
    color: var(--secundary-color);
    height: 10vh;
    width: 17%;
    margin: 0;
    padding: 0;
    box-shadow: var(--shadow-right);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.profile-img {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    border-radius: 100%;
    background: #Fcfeff;
}

.profile-img img {
    width: 100%;
    padding: 0;
}

.profile .profile-name {
    padding: 0;
    background: var(--secundary-color);
    -moz-opacity: var(--opacity);
    opacity: var(--opacity);
    width: 70%;
    height: 40%;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-name p {
    font-family: var(--font);
    font-size: 100%;
    margin: 0;
    margin-left: 30%;
    color: var(--profile-name);
    opacity: 1;
}

.profile .dropdown {
    width: 18%;
    font-family: var(--font);
    position: relative;
    display: inline-block;
    z-index: 9999;
}

.dropdown .expand-drop-img {
    width: 90%;
    opacity: 0.6;
    cursor: pointer;
}

.dropdown .dropdown-content {
    font-family: var(--font);
    margin-top: 5%;
    width: 65%;
    height: 20vh;
    position: absolute;
    display: none;
    background-color: var(--secundary-color);
    min-width: 160px;
    box-shadow: var(--shadow);
    z-index: 9999;
    opacity: 1;
    left: -120px;
}

.dropdown-content .night-mode {
    width: 100%;
    height: 25%;
    margin: 0;
    color: var(--dark-color);
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: center;
    align-items: center;
}

.night-mode p {
    font-family: var(--font);
    font-size: 14px;
    margin: 0;
}

.night-mode:hover {
    color: var(--drop-hover); 
    background: var(--button-hover); 
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 50px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}
  
input:checked + .slider {
    background-color: var(--dark-color);
}
  
input:checked + .slider:before {
    transform: translateX(27px);
}
  
.slider.round {
    border-radius: 24px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.dropdown-content a { 
    width: 100%;
    height: 25%;
    opacity: 1;
    color: var(--dark-color);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-content a p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.dropdown:hover .expand-drop-img {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {color: var(--drop-hover); background: var(--button-hover);}

/* Inicio da estilização do corpo ******************************************** */

.container {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 4.5% 95.5%;
}

.tab {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab button {
    display: block;
    margin: auto;
    background-color: inherit;
    color: var(--secundary-color);
    width: 100%;
    padding: 15px 10px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 17px;
    opacity: 1;
    border-radius: 7px;
}

.tab .active {
    background: var(--button-hover);
    background-size: 100%;
}

.tab button:hover {
    background: var(--button-hover);
    opacity: 0.6;
    -webkit-animation-name: hoverAnimation; 
    -webkit-animation-duration: 4s; 
    animation-name: hoverAnimation;
    animation-duration: 4s;
}

.tab button img {
    width: 95%;
}

/* Inicio do Corpo de cada elemento da Dash **********************************/

.content {
    width: 100%;
    height: 90vh;
    background: url('assets/fundo-cinza.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: cover;
    font-family: var(--font);
}

.dashContent {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.participanteContent {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.ranckContent {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.eventosContent {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

/* Definição das divs do corpo *********************************************** */

/* Parte destinado a Pagina DashBoard *** */


/* Parte esquerda do corpo */
.dashBody{
    width: 93%;
    height: 90%;
    border: none;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

/* Parte direita do corpo */

.dashBody .dashBody-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashBody-right .right-content {
    width: 95%;
    height: 99%;
    border-radius: 10px;
    background: var(--border);
}

/* Parte destinado a Pagina Participantes *** */

.participanteBody{
    width: 93%;
    height: 90%;
    background: grey;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

/* Parte destinado a Pagina Ranck *** */

.ranckBody{
    width: 93%;
    height: 90%;
    background: grey;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

/* Parte destinado a Pagina Eventos *** */

.eventosBody{
    width: 93%;
    height: 90%;
    background: grey;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

/* Inicio das KeyFrames ************************************************** */

@keyframes hoverAnimation {
    0%   {padding: 16px 11px;}
    25%  {padding: 17px 12px}
    50%  {padding: 18px 13px}
    75%  {padding: 19px 14px}
    100% {padding: 20px 15px}
}

@-webkit-keyframes hoverAnimation {
    0%   {padding: 16px 11px;}
    25%  {padding: 17px 12px}
    50%  {padding: 18px 13px}
    75%  {padding: 19px 14px}
    100% {padding: 20px 15px}
}

@-webkit-keyframes slide {
    100% { opacity: 1; }
}

@keyframes slide {
    100% { opacity: 1; }
}