<doctype html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
    <h1>Seja Bem-Vindo</h1>
    {% if user.is_authenticated %}
		Usuario logado - {{ user.username }} - <a href="{% url 'url_change_user' user.id %}">Editar Perfil</a>
		<br>
		<a href="{% url 'logout' %}">Logout</a>
		
		{% if user.is_superuser %}
			<p>Conta de administrador - <a href="{% url 'url_new_user' %}">Cadastrar Novo Usuário</a></p>

			<p>Usuários cadastrados até o momento:
				<ul>
				{% for u in users %}

					{% if user.is_superuser %} 
						<li><a href="{% url 'url_detail_user' u.id %}">
					{% endif %}
					{{ u.username }}</a> - <a href="{% url 'url_change_user' u.id %}">Editar</a> - <a href="{% url 'url_remove_user' u.id %}">Excluir</a></li>

				{% endfor %}
				</ul>
			</p>

		{% else %}

			<p>Conta de usuário comum</p>

		{% endif %}

	{% else %}

		Usuario não logado
		<br>
		<a href="{% url 'login' %}">Login</a>

	{% endif %}
	<hr>
</body>
</html>