{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="content">
      <div id="Dash" class="tabcontent">
        <div class="dashContent">
          <div class="dashBody">
            <div class="dash-top">
              <div class="top-content">
                <div class="top-content-title">
                  <h3>Melhores Colocados</h3>
                </div>
                <div class="top-content-position">
                  <div class="position-3">
                    <div class="position-3-content">
                      <div class="position-3-text">
                          <h4>2º - {{ ranking.1.1 }}</h4> 
                      </div>
                      <div class="position-3-content-profile">
                        <div class="position-3-content-profile-circle">
                          <img src="{% static 'assets/foto_mulher.svg' %}" alt="Perfil">
                        </div>
                      </div>                      
                      <div class="position-3-text">
                        <h5>{{ ranking.1.0 }}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="position-1">
                    <div class="position-1-content">
                      <div class="position-1-text">
                        <h4>1º - {{ ranking.0.1 }}</h4>
                      </div>
                      <div class="position-1-content-profile">
                        <div class="position-1-content-profile-circle">
                         <img src="{% static 'assets/foto_homem.svg' %}" alt="Perfil">
                        </div>
                      </div>
                      <div class="position-1-text">
                        <h5>{{ ranking.0.0 }}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="position-2">
                    <div class="position-2-content">
                      <div class="position-2-text">
                        <h4>3º - {{ ranking.2.1 }}</h4>
                      </div>
                      <div class="position-2-content-profile">
                        <div class="position-2-content-profile-circle">
                          <img src="{% static 'assets/foto_jovem.svg' %}" alt="Perfil">
                        </div>
                      </div>
                      <div class="position-2-text">
                        <h5>{{ ranking.2.0 }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
            <div class="dash-bottom">
              <div class="bottom-content">
                <div class="bottom-content-myposition">
                  <div class="myposition-text">
                    <h3>Sua posição</h2>
                  </div>
                  <div class="myposition-text">
                    <h5>{% for username, total_score_user in ranking %}
                          {% if username == user.username %}
                            {{ forloop.counter }}º - {{ total_score_user }}
                          {% endif %}
                        {% endfor %}</h5>
                  </div>
                  <div class="myposition-profile">
                    <div class="myposition-profile-circle">

                    </div>
                  </div>
                  <div class="myposition-text">
                    <h4>{{ user.username }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="eventos" class="tabcontent">
        <div class="eventosContent">
          <div class="eventosBody">
            <h3>Eventos</h3>
          </div>
        </div>
      </div>

      <div id="Quit" class="tabcontent">
        <div class="quitContent">
          <div class="quitBody">
            <h3>Sair</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}