{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <div id="eventos" class="tabcontent">
        <div class="eventosContent">
          <div class="eventosBody">
            <div class="eventos-container">
              <div class="eventos-top">
                <h2>REGISTRO DE EVENTOS</h2>
              </div>
              <div class="eventos-bottom">
                <div class="eventos-tablecontent">
                  <table>
                    <thead>
                      <tr class="eventos-tablehead">
                        <th>Responsável</th>
                        <th>Ação</th>
                        <th>Participante</th>
                        <th>Data</th>
                        <th>Razão</th>
                      </tr>
                    </thead>
                    <tbody class="table-body-bottom">
                      <tr>
                        <td>Administrador 1</td>
                        <td>-20</td>
                        <td>Fulano</td>
                        <td>01/10/2019 - 17:46</td>
                        <td>
                          <div class="table-icons">
                            <img src="{% static 'assets/razao.svg' %}" alt="">
                            <img src="{% static 'assets/aviso.svg' %}" alt="" width="18px">
                            <img src="{% static 'assets/desfazer.svg' %}" alt="">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Administrador 2</td>
                        <td>+80</td>
                        <td>Ciclano</td>
                        <td>01/10/2019 - 09:13</td>
                        <td>
                          <div class="table-icons">
                            <img src="{% static 'assets/razao.svg' %}" alt="">
                            <img src="{% static 'assets/desfazer.svg' %}" alt="">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
{% endblock content %}